<!doctype html>
<html ng-app>
<head>
    <script src="angular-1.0.1.min.js"></script>
    <meta charset="UTF-8">
</head>
<body>

<div ng-controller="CartController">
    <div ng-repeat="item in items">
        <span>{{ item.title }}</span>
        <input ng-model="item.quantity">
        <span>{{ item.price | currency}}</span>
        <span>{{ item.price * item.quantity | currency }} </span>
    </div>
    <div>Total:{{ totalCart()| currency }} </div>
    <div>Discount:{{ bill.discount | currency }}</div>
    <div>Subtotal:{{ subtotal|currency}}</div>
</div>

超过 $100  给10% 折扣

<script>
    function CartController($scope){
        $scope.bill = {};
        $scope.items = [
            {title:'a',quantity:1,price:2.2},
            {title:'b',quantity:2,price:1.2},
            {title:'v',quantity:3,price:3.32}
        ]
        $scope.totalCart = function(){
            var total = 0;
            for(var i=0; i< $scope.items.length;i++){
                total = total + $scope.items[i].price * $scope.items[i].quantity;
            }
            return total;
        }
        $scope.subtotal = function(){
            return $scope.totalCart() - $scope.discount;
        }
        function cal(newValue,oldValue,scope){
            $scope.bill.discount = newValue>100?10:0;
        }

        $scope.$watch( $scope.totalCart,cal)
    }
</script>
</body>
</html>