<!doctype html>
<html ng-app>
<head>
    <script src="angular-1.0.1.min.js"></script>
    <meta charset="UTF-8">
    <title>购物车</title>
</head>
<body ng-controller="CartController">
<h1>  you order</h1>
<div ng-repeat="item in items">

    <span>{{ tiem.title }}</span>
    <input ng-model='item.quantity'>
    <span>{{item.price | currency}}</span>
    <span>{{item.price * item.quantity | currency}}</span>
    <button ng-click="remove($index)">Remove</button>

</div>


<script>
    // currency  Angular带 过滤器(货币)

function CartController($scope){
    $scope.items = [
        {title:'paint pots' , quantity:8,price:2.95},
        {title:'paint 123' , quantity:18,price:1.95},
        {title:'paint 222' , quantity:12,price:33.95}
    ]
    $scope.remove = function(index){
        $scope.items.splice(index, 1);
    }

}
</script>
</body>
</html>