<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" ng-app="mfe">
<head>
    <?php template('common/html_header.php',array('title'=>'晨丽娱乐-代理注册')); ?>
</head>
<body>
<?php template('common/header.php') ?>
<?php template('common/banner.php',array('type'=>'register','title'=>'代理注册','image'=>'enlish'));?>
<?php template('common/menu.php') ?>


<!--content start-->
<div class="register_content agent_cont" ng-controller="agency">
		<div class="inner">
        <from name="agentForm"  ng-submit="register()">
			<table>
 ng-minlength="6" ng-maxlength="15" required/>
    <span ng-show="agentForm.password.$valid"><i class="i01"></i></span>
    <span ng-show="agentForm.password.$invalid && !agentForm.password.$pristine" class="error"><i class="i02"></i>密码长度应大于等于6位且小于等于15位</span>



                <tr>
                    <td><p><span> * </span>安全问题: </p></td>
                    <td>
                        <select name="question" ng-model="question" >
                            <option value="0">---- 选择一项 ----</option>
                            <option value="1">母亲的名字？</option>
                            <option value="2">喜爱的书名？</option>
                            <option value="3">最喜欢的宠物的名字？</option>
                            <option value="4">最喜欢的电影？</option>
                            <option value="5">最喜欢做的事？</option>
                            <option value="6">最喜欢的运动队名？</option>
                            <option value="7">我的儿时英雄？</option>
                            <option value="8">我的秘密代码？</option>
                            <option value="9">我最喜欢的明星？</option>
                            <option value="10">我的梦想？</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><p><span> * </span>答案: </p></td>
                    <td>
                        <input type="text" class="txt" name="answer"  ng-model="answer"  />
                    </td>
                </tr>
				<tr>
					<td></td>
					<td>
                        <input type="submit" ng-disabled="!agentForm.$valid || action.password_valid != action.password" class="submit" value="立即注册" />
					</td>
				</tr>
			</table>
        </from>
		</div>
	</div>


<?php template('common/footer.php'); ?>

</body>
</html>